/*variables*/
/*mixins*/
/*keyframes*/
@keyframes full-heart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    z-index: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes btn {
  from {
    opacity: 1;
    box-shadow: -4px 5px 5px #e2dfdf;
  }
  to {
    opacity: 0.9;
    box-shadow: -4px 5px 5px #665c5c;
  }
}
@keyframes appearance-slight {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  font-family: "roboto", sans-serif;
  width: 100%;
  margin: 0;
}

h1 {
  font-family: "Shrikhand", cursive;
}

h2 {
  margin-left: 10px;
}

/* mise en page cartes restaurants - page accueil*/
.restaurant {
  background-color: #f2f2f2;
  padding: 15px;
}

/* loader spinner */
.loader {
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  animation: fadeOut 3s ease-in-out forwards;
}
.loader__spinner {
  border: 10px solid black;
  border-top: 10px solid #9356dc;
  border-right: 10px inset #99E2D0;
  border-bottom: 10px solid #FF79DA;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 50% auto auto;
  animation: loader 2s linear;
}

.btn {
  background: #af68db;
  background: linear-gradient(357deg, #af68db 35%, #ff79da 100%);
  opacity: 1;
  border-radius: 25px;
  box-shadow: -4px 5px 5px #e2dfdf;
  color: white;
  border: none;
  padding: 15px 25px;
  font-size: 16px;
  text-decoration: none;
}
.btn:hover {
  animation: btn 0.8s ease-in-out forwards;
}

.heart {
  position: absolute;
  font-size: 1.5rem;
  color: gray;
  border: none;
  top: 76%;
  left: 82%;
}
.heart__progress {
  position: absolute;
  opacity: 0;
  font-size: 1.5rem;
  border: none;
  top: 76%;
  left: 82%;
  color: #9356dc;
}
.heart__progress:hover {
  animation: full-heart 400ms ease-in-out forwards;
}

header {
  text-align: center;
  margin: 15px;
}
header a {
  float: left;
  color: black;
  margin-top: 5px;
  margin-left: 15px;
}

/*mise ne page section research - page accueil*/
.research {
  width: 100%;
  text-align: center;
  background-color: #f2f2f2;
  padding-bottom: 50px;
}
.research p {
  margin-left: 10px;
  margin-bottom: 30px;
}

.container {
  position: relative;
  width: 100%;
}
.container__icone {
  position: absolute;
  margin-left: 28%;
  padding-top: 3px;
  padding: 10px;
}
.container__research {
  background-color: #eaeaea;
  width: 100%;
  height: 20px;
  border: none;
  box-shadow: inset -4px 2px 2px #dad8d8;
  text-align: center;
  padding: 10px 0 10px 0;
  font-size: 1rem;
}

/*mise en page footer*/
.footer {
  background-color: #2b2929;
  padding: 15px;
}
.footer h3 {
  font-family: "Shrikhand", cursive;
  color: white;
  margin-left: 20px;
}
.footer ul {
  list-style-type: none;
  margin-bottom: 15px;
  margin-left: 20px;
  padding-left: 0;
}
.footer ul li {
  margin-bottom: 5px;
}
.footer ul li a {
  text-decoration: none;
  color: white;
}
.footer ul li a i {
  margin-right: 5%;
}

/* mise en page section fonctionnement - page accueil*/
.functionning {
  padding: 15px;
  margin-bottom: 20px;
}
.functionning__list {
  display: flex;
  align-items: center;
  width: 98%;
  background-color: #f9f9f9;
  border-radius: 20px;
  box-shadow: -4px 5px 5px #e2dfdf;
  margin-bottom: 20px;
  margin-left: 10px;
  padding: 10px 0;
}
.functionning__list i {
  color: gray;
  margin-left: 50px;
  font-size: 1.1rem;
}
.functionning__list p {
  margin-left: 50px;
}
.functionning__number {
  background-color: #9356dc;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 5px;
  line-height: 10px;
  text-align: center;
  color: white;
  position: absolute;
  margin-top: 25px;
  font-size: 0.8rem;
}

.functionning__list:hover {
  background-color: #e9ddf8;
}
.functionning__list:hover i {
  color: #9356dc;
}

.restaurant-list {
  position: relative;
}

.restaurant-card {
  text-decoration: none;
  color: black;
}
.restaurant-card figure {
  margin: 10px 10px 20px;
  padding-bottom: 5px;
  background-color: white;
  border-radius: 20px;
  box-shadow: -4px 5px 5px #e2dfdf;
}
.restaurant-card figure div {
  display: flex;
  justify-content: space-between;
}
.restaurant-card figure h3 {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
}
.restaurant-card__img {
  position: relative;
}
.restaurant-card__img img {
  width: 100%;
  height: 150px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.restaurant-card__img div {
  position: absolute;
  background-color: #99E2D0;
  top: 10%;
  left: 75%;
  color: #32b091;
  font-weight: bold;
  font-size: small;
  padding: 5px 10px;
}
.restaurant-card p {
  margin-top: 0;
  margin-left: 10px;
}

/*mise en page feuilles menus*/
.img-title {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.body-page {
  background-color: #f2f2f2;
  border-radius: 30px 30px 0 0;
  margin-top: -50px;
  padding-bottom: 15px;
  position: relative;
}
.body-page__title {
  display: flex;
  justify-content: space-between;
}
.body-page h1 {
  padding-top: 20px;
  margin: 25px;
  font-size: 1.5rem;
}
.body-page .far {
  margin-top: 50px;
  margin-left: 85%;
  font-size: 1.5rem;
  color: gray;
  position: absolute;
}
.body-page .fas {
  position: absolute;
  font-size: 1.5rem;
  margin-left: 85%;
  margin-top: 50px;
  opacity: 0;
  color: #9356dc;
}
.body-page .fas:hover {
  animation: full-heart 400ms ease-in-out forwards;
}

.menu-detail {
  margin: 15px;
}
.menu-detail h2 {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1rem;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
  display: inline-block;
  width: 40px;
}

.meal {
  background-color: white;
  border-radius: 10px;
  box-shadow: -4px 5px 5px #e2dfdf;
  margin-left: 10px;
  width: 90%;
  margin-bottom: 20px;
  padding: 10px;
  transform: translateY(0);
  animation: appearance-slight 2s ease-in-out backwards;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
}
.meal:nth-child(1) {
  animation-delay: 250ms;
}
.meal:nth-child(2) {
  animation-delay: 500ms;
}
.meal:nth-child(3) {
  animation-delay: 750ms;
}
.meal:nth-child(4) {
  animation-delay: 1000ms;
}
.meal:nth-child(5) {
  animation-delay: 1250ms;
}
.meal:hover > h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform: translateX(-70px);
  margin-left: 80px;
}
.meal:hover > .meal__price :first-of-type {
  transform: translateX(-10px);
  margin-left: 20px;
  flex: 2;
}
.meal:hover > .meal__price :last-of-type {
  flex: 1;
  transition-duration: 600ms;
  padding-left: 10%;
}
.meal:hover > .meal__check {
  font-weight: bold;
  transform: translateX(0);
  transition-duration: 600ms;
}
.meal:hover > .meal__check i.fas {
  transform: rotate(0deg);
}
.meal__check {
  background-color: #99E2D0;
  width: 70px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(70px);
  transition-duration: 500ms;
}
.meal__check i.fas {
  opacity: 1;
  color: white;
  font-size: 24px;
  margin: 0;
  transform: rotate(-360deg);
  transition-duration: 600ms;
}
.meal h3 {
  margin: 0;
  margin-left: 10px;
  font-size: 1.1rem;
  line-height: 2rem;
}
.meal p {
  margin-left: 10px;
  margin-right: 15px;
  font-size: 0.8rem;
}
.meal__price {
  display: flex;
  justify-content: space-between;
}
.meal__price :first-of-type {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.meal__price :last-of-type {
  font-weight: bold;
  margin-right: 15px;
}

.btn-order {
  text-align: center;
  padding: 15px;
}

/*# sourceMappingURL=style.css.map */
