/*variables*/
$font-title: 'Shrikhand', cursive;
$font-text: 'roboto', sans-serif;
$font-bold: bold;
$font-color1: black;
$font-color2: white;
$primary-color: #9356dc;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$primary-background-color: #f2f2f2;
$secondary-bg-color: white;
$footer-bg-color:rgb(43, 41, 41);
$color-shadow:rgb(226, 223, 223);



/*mixins*/
@mixin row{
    text-align: center;
}
@mixin btn-gradient{
    background: rgb(175,104,219);
    background: linear-gradient(357deg,rgba(175,104,219) 35%, rgba(255,121,218,1) 100%);
    opacity: 1;
}
@mixin btn-radius {
    border-radius: 25px;
}
@mixin card-radius {
    border-radius: 20px;
}
@mixin number-form ($background-color:$primary-color){
    background-color:$background-color;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 5px;
    line-height: 10px;
    text-align: center;
    color: $font-color2; 
 }
@mixin shadow {
    box-shadow: -4px 5px 5px $color-shadow;
 }

@mixin btn-shadow {
    box-shadow: -4px 5px 5px darken($color-shadow,50%);
}

@mixin margin{
    margin-left: 10px;
}

/*keyframes*/
@keyframes full-heart {
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }    
}

@keyframes loader {
    from    
    {
         transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
 }

@keyframes fadeOut {
    from {
        opacity: 1;
        z-index: 1;
    }
    to {
       opacity: 0;
       z-index: -1;
    }
  }
@keyframes btn {
    from {
        opacity: 1;
        @include shadow;
    }
    to {
        opacity: 0.9;
        @include btn-shadow;
    }
    
}
@keyframes appearance-slight {
    from {
        opacity: 0;

    }
    to {
        opacity: 1;
    }    
}

body {
    font-family: $font-text;
    width: 100%;
    margin: 0;
}
header {
    margin:15px;
}
h1 {
    font-family: $font-title;
}
h2 {
    @include margin;
}


header {
    @include row;
    & a {
        float: left;
        color: $font-color1;
        margin-top: 5px;
        margin-left: 15px;
    }
}
 /* loader spinner */

 .loader {
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    animation: fadeOut 3s ease-in-out forwards;
     &__spinner {
        border: 10px solid $font-color1;
        border-top: 10px solid $primary-color;
        border-right: 10px inset $tertiary-color;
        border-bottom: 10px solid $secondary-color;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        margin: 50% auto auto;
        animation: loader 2s linear;
    }
}

    
/*mise ne page section research - page accueil*/

.research {
    width: 100%;
    @include row;
    background-color: $primary-background-color;
    padding-bottom: 50px;
    p {
        @include margin;
        margin-bottom: 30px;
    }
    
}

.container {
    position: relative;
    width: 100%;
    &__icone { 
        position: absolute;
        margin-left:28%;
        padding-top: 3px;
        padding: 10px;
    }
    &__research{
        background-color: darken($primary-background-color,3%);
        width: 100%;
        height: 20px;
        border: none;
        box-shadow: inset -4px 2px 2px rgb(218, 216, 216);
        @include row;
        padding: 10px 0 10px 0;
        font-size: 1rem;
    }
}


.btn {
    @include btn-gradient;
    @include btn-radius;
    @include shadow;
    color: $font-color2;
    border: none;
    padding: 15px 25px;
    font-size: 16px;
    text-decoration: none; 
    &:hover {
        animation: btn 0.8s ease-in-out forwards;      
    }  
}

/* mise en page section fonctionnement - page accueil*/

.functionning {
    padding: 15px;
    margin-bottom: 20px;
    &__list{
    display: flex;
    align-items: center;
    width: 98%;
    background-color: mix(white,$primary-background-color,50%);
    @include card-radius;
    @include shadow;
    margin-bottom: 20px; 
    margin-left: 10px;
    padding: 10px 0;
    i {
        color: gray;
        margin-left: 50px;
        font-size: 1.1rem;
    }
    p {
        margin-left: 50px;
    }
    } 
    &__number {
        @include number-form($primary-color);
        position: absolute;
        margin-top: 25px;
        font-size: 0.8rem;
 
    }  
}
.functionning__list:hover {
    background-color: mix(white,$primary-color,80%);
    i {
        color: $primary-color;
    }
}

/* mise en page cartes restaurants - page accueil*/

.restaurant {
    background-color: $primary-background-color;
    padding: 15px;
    
} 

.restaurant-list {
    position: relative;   
}


.heart {
    position: absolute;
    font-size: 1.5rem;
    color:gray;
    border: none;
    top: 76%;
    left: 82%;
    &__progress {
        position: absolute;
        opacity: 0;
        font-size: 1.5rem;
        border: none;
        top: 76%;
        left: 82%;
        color:$primary-color;
        &:hover {
            animation: full-heart 400ms ease-in-out forwards;
        }  
    }   
}


.restaurant-card {
    text-decoration: none;
    color: $font-color1;
    figure {
        margin: 10px 10px 20px;
        padding-bottom: 5px;
        background-color: $secondary-bg-color;
        @include card-radius;
        @include shadow;
        div{
            display: flex;
            justify-content: space-between;
        }
        h3 {
            font-weight: $font-bold;
            margin-top: 10px;
            margin-bottom: 5px;
            @include margin;
        }
        
    }
    &__img {
    
        position: relative;
            img 
            {   width: 100%;
                height: 150px;
                border-radius: 20px 20px 0 0;
                object-fit: cover;
                
            }
            div {
                position:absolute;
                background-color: $tertiary-color; 
                top: 10%;
                left: 75%;
                color: darken($tertiary-color, 30%);
                font-weight: bold;   
                font-size: small; 
                padding: 5px 10px;    
        }
    }
    p {
        margin-top: 0;
        @include margin;
    }
}

/*mise en page feuilles menus*/

.img-title {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.body-page {
    background-color: $primary-background-color;
    border-radius: 30px 30px 0 0;
    margin-top: -50px;
    padding-bottom: 15px;
    position: relative;
    &__title {
        display: flex;
        justify-content: space-between;

    }
        h1 {
            padding-top: 20px;
            margin: 25px;
            font-size: 1.5rem;
        }
        .far {
            margin-top: 50px;
            margin-left: 85%;
            font-size: 1.5rem;
            color: gray;
            position: absolute;
        }
        .fas {
            position: absolute;
            font-size: 1.5rem;
            margin-left: 85%;
            margin-top: 50px;
            opacity: 0;
            color:$primary-color;
            &:hover {
                animation: full-heart 400ms ease-in-out forwards;
        }  

        
        }

}

.menu-detail{

    margin: 15px;
    h2{
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1rem;
    border-bottom: 3px solid $tertiary-color;
    padding-bottom: 5px;
    display: inline-block;
    width: 40px;  
    }
}

.meal {
    background-color: $secondary-bg-color;
    border-radius: 10px;
    @include shadow;
    @include margin;
    width: 90%;
    margin-bottom: 20px;
    padding: 10px;
    transform: translateY(0);
    animation: appearance-slight 2s ease-in-out backwards;
    @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
            animation-delay: $i * 250ms;
        }
    }
    &:hover {
        background-color: #9356dc;
        .meal__check {
         color:$tertiary-color;
        }
        .meal_check .fas {
            transform: rotate(360)
        }
    }
    h3 {
        margin: 0;
        @include margin;
        font-size: 1.2rem;
        line-height: 2rem;
    }
    p {
        @include margin;
        margin-right: 0 15px 0 0;
        font-size: 0.8rem;
        
    }
    &__price {
        display: flex;
        justify-content: space-between;
        & :first-of-type {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        & :last-of-type {
            font-weight: bold;
        }    
    }  
}


.btn-order {
    @include row;
    padding: 15px;
}


/*mise en page footer*/
.footer {
    background-color: $footer-bg-color;
    padding: 15px;
    h3 {
        font-family: $font-title;
        color: $font-color2;
        margin-left: 20px;
    }
    ul {
        list-style-type: none;
        margin-bottom: 15px;
        margin-left: 20px;
        padding-left: 0;
        li{
            margin-bottom: 5px;
            a {
                text-decoration: none;
                color: $font-color2;
                i{
                    margin-right: 5%;
                }
            }
        }
    }
}

    











