/*mise en page footer*/
.footer {
    background-color: $footer-bg-color;
    padding: 15px;
    h3 {
        font-family: $font-title;
        color: $font-color2;
        margin-left: 20px;
    }
    ul {
        list-style-type: none;
        margin-bottom: 15px;
        margin-left: 20px;
        padding-left: 0;
        li{
            margin-bottom: 5px;
            a {
                text-decoration: none;
                color: $font-color2;
                i{
                    margin-right: 5%;
                }
            }
        }
    }
}