/*variables*/
$font-title: 'Shrikhand', cursive;
$font-text: 'roboto', sans-serif;
$font-bold: bold;
$font-color1: black;
$font-color2: white;
$primary-color: #9356dc;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$primary-background-color: #f2f2f2;
$secondary-bg-color: white;
$footer-bg-color:rgb(43, 41, 41);
$color-shadow:rgb(226, 223, 223);